
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <%= favicon_link_tag 'fav.ico' %>
        <title>GoHuntGeo</title>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <link href="bootstrap.min.css" rel="stylesheet" type="text/css" media="all"/> -->
        <!-- <link href="elegant-icons.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="pe-icon-7-stroke.min.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="theme.css" rel="stylesheet" type="text/css" media="all"/> -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,300' rel='stylesheet' type='text/css'>
    </head>
    <body>

    	<a id="top"></a>

		<div class="main-container">
      <section class="hero-slider">
  				<ul class="slides">
  					<li class="video-header">
  						<div class="background-image-holder parallax-background">
  							<!-- <img class="background-image" alt="Background Image" src="img/hero1.jpg"> -->
  						</div>

  						<div class="video-wrapper">
  							<video autoplay="" muted="" loop="">
            								<source src="video.webm" type="video/webm">
            								<!-- <source src="video.mp4" type="video/mp4">
            								<source src="video.ogv" type="video/ogg"> -->
  							</video>
  						</div>

  						<div class="container">
  							<div class="row">
  								<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
  									<img alt="logo" class="logo" src="gohuntgeo.png">
  									<span class="uppercase text-white"><span class="uppercase text-white">Discover your adventure, and capture it's splendor</span></span>
  									<h1 class="large-h1 text-white">GoHuntGeo</h1>
                    <button type="submit" target="_blank" class="btn" data-toggle="modal" data-target="#myLoginModal">Login</button>
                    <button type="submit" target="_blank" class="btn btn-hollow" data-toggle="modal" data-target="#mySignUpModal">Sign Up</button>
  								</div>
  							</div>
  						</div>
  					</li>
  				</ul>


          <!--modal login -->
          <div class="modal fade" id="myLoginModal">
            <div class="modal-dialog">
                <div class="modal-content">
                  <%= form_tag sessions_path do %>
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Log-in</h4>
                  </div>
                  <div class="modal-body">
                    <div class="form-group">
                  <label for="email">Email</label>
                  <%= text_field_tag :email, params[:email], class:"form-control", type:"text", placeholder:"email" %>
                  </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <%= text_field_tag :password, params[:password], class:"form-control", type:"password", placeholder:"password" %>
                </div>
                    <p class="text-right"><%= link_to "Forgot Password", log_out_path %></p>
                  </div>
                  <div class="modal-footer">
                    <%= submit_tag "Log in", class:"btn btn-primary"%>
                  </div>
                  <% end %>
                </div>
              </div>
          </div>
          <!--modal signup -->

          <div class="modal fade" id="mySignUpModal">
            <div class="modal-dialog">
                <div class="modal-content">
                  <%= form_for @user do |f| %>
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Sign-Up</h4>
                  </div>
                  <div class="modal-body">
                    <div class="form-group">
                      <label for="username">Email</label>
                      <%= f.text_field :email, class:"form-control", type:"text", placeholder:"email"%>
                    </div>
                  <div class="form-group">
                <label for="email">Password</label>
                <%= f.password_field :password, class:"form-control", type:"password", placeholder:"password"%>
                </div>
                <div class="form-group">
              <label for="password">Confirm Password</label>
              <%= f.password_field :password_confirmation, class:"form-control", type:"password", placeholder:"retype password"%>
              </div>
                  </div>
                  <div class="modal-footer">
                    <%= f.submit :Signup, class:"btn btn-primary"%>
                  </div>
                  <% end %>
                </div>
              </div>
          </div>

  			</section>

      <a id="cfp" name="cfp" class="in-page-link"></a>
			<section class="inline-video">
				<div class="container">
					<div class="row">
						<div class="col-sm-11">
							<h1>Call for Speakers</h1>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
              <h3>What should I speak about?</h3>
              <p class="lead">
                In short, anything JavaScript or Node.js related. We want to make a special emphasis on covering unique things at Nodevember. We also want to have a bit of fun, so bring on the weird, odd and wonderful JavaScript talks!<br/><br/>
                <strong>Talks</strong> are the traditional talk sessions given during the main conference days. They’re mostly 30 minutes long, but we offer a limited number of 45 minute slots. We organize the schedule into three “tracks”, grouping talks by topic and having them in the same room for consecutive sessions<br/>
                <strong>Tutorials</strong>, as with the talks, should be sessions that can grow this community at any level. We aim for tutorials that will advance JavaScript and Node.js, advance this community, and shape the future. There are three (3) two-hour tutorial sessions and four (4) one-hour tutorial sessions available. <br/><br/>
              </p>
              <h3>Code of Conduct</h3>
              <p class="lead">All speakers, sponsors, and guests must agree and follow our code of conduct.</p>
							<a href="/conduct.html" class="btn">Code of Conduct</a>
							<a href="https://www.papercall.io/nodevember2016" target="_blank" class="btn btn-hollow">Submit Talk</a>
						</div>

						<div class="col-md-6">
							<div class="embedded-video-holder vju">
								<iframe width="560" height="315" src="https://www.youtube.com/embed/DUgMIhCibvE" frameborder="0" allowfullscreen></iframe>
							</div>
						</div>
					</div>
				</div>
			</section>

      <section class="strip-divider primary-overlay">
        <div class="background-image-holder parallax-background">
          <!-- <img class="background-image" alt="Background Image" src="img/hero.jpg"> -->
        </div>

        <div class="container">
          <div class="row">
            <div class="col-sm-12 text-center">
              <h1 class="text-white">Interested in speaking at Nodevember 2016? <a href="https://www.papercall.io/nodevember2016" target="_blank">Submit a Talk</a></h1>
            </div>
          </div>
        </div>
      </section>

      <a id="pricing-options" class="in-page-link"></a>
			<section class="pricing-options">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<h1>Get Tickets</h1>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-6">
							<a href="https://www.eventbrite.com/e/nodevember-2016-tickets-26149837869" target="_blank">
								<div class="pricing-option emphasis">

									<div class="dot"></div>

									<div class="col-md-6 text-center">
										<span class="dollar">$</span>
										<span class="price">250</span><span class="type">early bird</span>
									</div>

									<div class="col-md-6">
										<span class="plan-title">Conference Supporter</span>
										<ul>
											<li>General Sessions + Keynotes</li>
											<li>+ T-shirts and Stickers</li>
                      <li>+ Breakfast and Lunch Daily</li>
                      <li>+ Free Snacks and Drinks</li>
										</ul>
									</div>
								</div>
							</a>
						</div>

						<div class="col-sm-6">
							<a href="https://www.eventbrite.com/e/nodevember-2016-tickets-26149837869" target="_blank">
								<div class="pricing-option">

									<div class="dot"></div>

									<div class="col-md-6 text-center">
										<span class="dollar">$</span>
										<span class="price">350</span><span class="type">General Admission</span>
									</div>

									<div class="col-md-6">
										<span class="plan-title">All Days</span>
										<ul>
                      <li>General Sessions + Keynotes</li>
											<li>+ T-shirts and Stickers</li>
                      <li>+ Breakfast and Lunch Daily</li>
                      <li>+ Free Snacks and Drinks</li>
										</ul>
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>
			</section>

      <a id="sponsor" name="sponsor" class="in-page-link"></a>
      <section class="strip-divider call-to-action">
					<div class="background-image-holder parallax-background">
						<!-- <img class="background-image" alt="BG Image" src="img/grey-bg.jpg"> -->
					</div>

					<div class="container">
						<div class="row">
							<div class="col-sm-12 text-center">
								<h1>Interested in sponsoring?</h1>
								<span class="uppercase">We could use your help. Support your Node and Javascript community.</span>
								<a class="btn btn-lg" href="mailto:sponsorships@nodevember.org?subject=Nodevember 2016 Sponsorship" class="block-content inner-link">send me more info.</a>
								<span class="uppercase">Oh, tell your friends too</span>
								<a href="http://facebook.com/nodevember" target="_blank"><i class="icon social_facebook"></i></a>
								<a href="http://twitter.com/nodevember" target="_blank"><i class="icon social_twitter"></i></a>
							</div>
						</div>

					</div>
			</section>

			<a id="about" name="about" class="in-page-link"></a>


			<section class="subscribe-1">
					<div class="background-image-holder">
						<!-- <img class="background-image" alt="Background Image" src="logo.jpg"> -->
					</div>

					<div class="container">
						<div class="row">
							<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
								<div class="twitter-feed">
									<i class="icon social_twitter text-white"></i>
									<span class="text-white">Follow <a href="https://twitter.com/gohuntgeo">@gohuntgeo</a> for more updates</span>
								</div>
							</div>
						<div class="footer">
								<div class="col-sm-12">
									<div class="top-border"></div>
								</div>
								<div class="col-sm-3">
									<span class="text-white">&copy; Copyright 2016 GoHuntGeo</span>
								</div>

								<div class="col-sm-9 text-right">
									<ul class="menu">
										<li><a href="#about">About</a></li>
										<li><a href="mailto:will@nodevember.org?subject=Nodevember Contact Form">Contact</a></li>
										<li><a class="inner-link back-to-top" href="#top">Back To Top&nbsp;<i class="icon pe-7s-angle-up-circle"></i></a></li>
									</ul>
								</div>
							</div></div>


					</div>
				</section>
		</div>
		<div class="footer-container">



		</div>

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" ></script>
        <!-- <script src="js/bootstrap.min.js"></script>
        <script src="js/skrollr.min.js"></script>
        <script src="js/jquery.plugin.min.js"></script>
        <script src="js/jquery.countdown.min.js"></script>
        <script src="js/smooth-scroll.min.js"></script>
        <script src="js/application.js"></script> -->
    </body>
</html>
