
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>GoHuntGeo</title>
        <%= csrf_meta_tags %>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,300' rel='stylesheet' type='text/css'>
    </head>
    <body>


      <div class="nav-container">
          <nav class="overlay-nav">
            <div class="container">
              <div class="row">
                <div class="col-md-2">
                  <%= link_to root_path do %>
                  <%= image_tag "logo.png", alt:"Logo", class:"logo logo-light"%>
                  <%= image_tag "logo-black.png", alt:"Logo", class:"logo logo-dark"%>
                  <% end %>
                </div>
                <div class="col-md-10 text-right">
                  <ul class="menu">
                    <!-- <li><a class="inner-link" href="schedule.html">Schedule</a></li> -->
                    <!-- <li><a href="index.html#about">About</a> -->
                    <li><%= link_to "About", about_path, class: "innner-link" %></li>
                    <li><%= link_to "Contact", contact_path, class: "innner-link" %></li>
                    <li><%= link_to "Register", new_user_path, class: "innner-link" %></li>
                    <li class="social-link"><a href="http://twitter.com/nodevember" target="default"><i class="icon social_twitter"></i></a></li>
                    <li class="social-link"><a href="http://facebook.com/nodevember" target="default"><i class="icon social_facebook"></i></a></li><li class="social-link"><a href="http://youtube.com/nodevember" target="default"><i class="icon social_youtube icon-large"></i></a></li>

                  </ul>
                  <div class="sidebar-menu-toggle"><i class="icon icon_menu"></i></div>
                  <div class="mobile-menu-toggle"><i class="icon icon_menu"></i></div>

                </div>
              </div>
            </div>

            <div class="bottom-border"></div>

            <div class="sidebar-menu">
              <!-- <img alt="Logo" class="logo" src="img/logo.png"> -->
              <div class="bottom-border"></div>
              <div class="sidebar-content">

                <div class="widget">
                  <ul class="menu">
                    <li><%= link_to "About", about_path, class: "innner-link" %></li>
                    <li><%= link_to "Contact", contact_path, class: "innner-link" %></li>
                    <li><%= link_to "Register", new_user_path, class: "innner-link" %></li>
                    <!-- <li><a class="inner-link" href="https://www.eventbrite.com/e/nodevember-2016-tickets-26149837869">Get Tickets </a></li> -->
                  </ul>
                </div>

                <div class="widget">
                  <ul class="social-profiles">
                    <li><a href="http://twitter.com/nodevember" target="default"><i class="icon social_twitter"></i></a></li>
                    <li><a href="http://facebook.com/nodevember" target="default"><i class="icon social_facebook"></i></a></li>
                    <li><a href="http://youtube.com/nodevember" target="default"><i class="icon social_youtube icon-large"></i></a></li>
                  </ul>
                </div>

                <div class="copy-text">
                  <span>&copy; Copyright 2016 GoHuntGeo</span>
                </div>
              </div>
            </div>
          </nav>
      </div>

    	<a id="top"></a>

		<div class="main-container">
      <section class="hero-slider">
  				<ul class="slides">
  					<li class="video-header">
  						<div class="background-image-holder parallax-backgroun">
  							<img class="background-image" alt="Background Image" src="DSC02613.jpg">
  						</div>

  						<div class="container">
  							<div class="row">
  								<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
  									<img alt="logo" class="logo" src="gohuntgeo.png">
  									<span class="uppercase text-white"><span class="uppercase text-white">Discover your adventure, and capture it's splendor</span></span>
  									<h1 class="large-h1 text-white">GoHuntGeo</h1>
                    <button> <%= link_to "Login", log_in_path, class: "btn", type: "submit" %> </button>
                    <button> <%= link_to "Register", new_user_path, class: "btn btn-hollow", type: "submit" %></button></div>
  							</div>
  						</div>
  					</li>
  				</ul>
  			</section>


      <a id="sponsor" name="sponsor" class="in-page-link"></a>
      <section class="strip-divider call-to-action">
					<div class="background-image-holder parallax-background">
						<!-- <img class="background-image" alt="BG Image" src="img/grey-bg.jpg"> -->
					</div>

					<div class="container">
						<div class="row">
							<div class="col-sm-12 text-center">
								<h1>Interested in sponsoring?</h1>
								<span class="uppercase">We could use your help. Support your Node and Javascript community.</span>
								<a class="btn btn-lg" href="mailto:sponsorships@nodevember.org?subject=Nodevember 2016 Sponsorship" class="block-content inner-link">send me more info.</a>
								<span class="uppercase">Oh, tell your friends too</span>
								<a href="http://facebook.com/nodevember" target="_blank"><i class="icon social_facebook"></i></a>
								<a href="http://twitter.com/nodevember" target="_blank"><i class="icon social_twitter"></i></a>
							</div>
						</div>

					</div>
			</section>

			<a id="about" name="about" class="in-page-link"></a>


			<section class="subscribe-1">
					<div class="background-image-holder">
						<img class="background-image" alt="Background Image" src="IMG_7578.jpg">
					</div>

					<div class="container">
						<div class="row">
							<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
								<div class="twitter-feed">
									<i class="icon social_twitter text-white"></i>
									<span class="text-white">Follow <a href="https://twitter.com/gohuntgeo">@gohuntgeo</a> for more updates</span>
								</div>
							</div>
						<div class="footer">
								<div class="col-sm-12">
									<div class="top-border"></div>
								</div>
								<div class="col-sm-3">
									<span class="text-white">&copy; Copyright 2016 GoHuntGeo</span>
								</div>

								<div class="col-sm-9 text-right">
									<ul class="menu">
                    <li><%= link_to "About", about_path%></li>
                    <li><%= link_to "Contact", contact_path%></li>
                    <li><%= link_to "Register", new_user_path%></li>
									</ul>
								</div>
							</div></div>


					</div>
				</section>
		</div>
		<div class="footer-container">



		</div>

		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js" ></script>
        <!-- <script src="js/bootstrap.min.js"></script> -->
        <!-- <script src="js/skrollr.min.js"></script> -->
        <!-- <script src="js/jquery.plugin.min.js"></script> -->
        <!-- <script src="js/jquery.countdown.min.js"></script> -->
        <!-- <script src="js/smooth-scroll.min.js"></script> -->
        <!-- <script src="js/application.js"></script> -->
    </body>
</html>
