<!DOCTYPE html>
<html>
<head>
  <title>Gohuntgeo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_user %>
  <div class="nav-container">
      <nav class="overlay-nav">
        <div class="container">
          <div class="row">
            <div class="col-md-2">
              <a href="index.html">
              <img alt="Logo" class="logo logo-light" src="logo.png">
              <img alt="Logo" class="logo logo-dark" src="logo-black.png">
              </a>
            </div>
            <div class="col-md-10 text-right">
              <ul class="menu">
                <!-- <li><a class="inner-link" href="schedule.html">Schedule</a></li> -->
                <!-- <li><a href="index.html#about">About</a> -->
                <!-- <li><a class="inner-link" href="index.html#sponsor">Sponsor</a></li> -->
                <li class="has-dropdown"><a href="index.html#about"><%=current_user.email%></a>
                  <ul class="nav-dropdown">
                    <li><a href="venue.html#travel">Dashboard</a></li>
                    <li><a href="organizers.html">Edit Profile</a></li>
                    <li><%= link_to "Log out", log_out_path %></li>
                  </ul>
                </li>
                <li><a class="inner-link" href="index.html#cfp">About</a></li>

                <!-- <li><a class="inner-link" href="index.html#pricing-options">Login</a></li>-->
                <li><a class="inner-link" href="conduct.html">Contact</a></li>
                <li class="social-link"><a href="http://twitter.com/nodevember" target="default"><i class="icon social_twitter"></i></a></li>
                <li class="social-link"><a href="http://facebook.com/nodevember" target="default"><i class="icon social_facebook"></i></a></li><li class="social-link"><a href="http://youtube.com/nodevember" target="default"><i class="icon social_youtube icon-large"></i></a></li>

              </ul>
              <div class="sidebar-menu-toggle"><i class="icon icon_menu"></i></div>
              <div class="mobile-menu-toggle"><i class="icon icon_menu"></i></div>

            </div>
          </div>
        </div>

        <div class="bottom-border"></div>

        <div class="sidebar-menu">
          <!-- <img alt="Logo" class="logo" src="img/logo.png"> -->
          <div class="bottom-border"></div>
          <div class="sidebar-content">

            <div class="widget">
              <ul class="menu">
                <li><a class="inner-link" href="index.html#top">About</a></li>
                <!-- <li><a class="inner-link" href="conduct.html">Conduct</a></li>
                <li><a class="inner-link" href="index.html#cfp">Call for Speakers</a></li>
                <li><a class="inner-link" href="index.html#sponsor">Sponsor</a></li> -->
                <li><a class="inner-link" href="index.html#about">Contact</a></li>
                <!-- <li><a class="inner-link" href="https://www.eventbrite.com/e/nodevember-2016-tickets-26149837869">Get Tickets </a></li> -->
              </ul>
            </div>

            <div class="widget">
              <ul class="social-profiles">
                <li><a href="http://twitter.com/nodevember" target="default"><i class="icon social_twitter"></i></a></li>
                <li><a href="http://facebook.com/nodevember" target="default"><i class="icon social_facebook"></i></a></li>
                <li><a href="http://youtube.com/nodevember" target="default"><i class="icon social_youtube icon-large"></i></a></li>
              </ul>
            </div>

            <div class="copy-text">
              <span>&copy; Copyright 2016 GoHuntGeo</span>
            </div>
          </div>
        </div>
      </nav>
  </div>
  <% else %>
  <div class="nav-container">
      <nav class="overlay-nav">
        <div class="container">
          <div class="row">
            <div class="col-md-2">
              <a href="index.html">
              <img alt="Logo" class="logo logo-light" src="logo.png">
              <img alt="Logo" class="logo logo-dark" src="logo-black.png">
              </a>
            </div>
            <div class="col-md-10 text-right">
              <ul class="menu">
                <!-- <li><a class="inner-link" href="schedule.html">Schedule</a></li> -->
                <li><a href="index.html#about">About</a>
                <!-- <li><a class="inner-link" href="index.html#sponsor"></a></li> -->
                <li><a class="inner-link" href="index.html#cfp">Contact</a></li>
                <!-- <li><a class="inner-link" href="index.html#pricing-options">Login</a></li>-->
                <li class="social-link"><a href="http://twitter.com/nodevember" target="default"><i class="icon social_twitter"></i></a></li>
                <li class="social-link"><a href="http://facebook.com/nodevember" target="default"><i class="icon social_facebook"></i></a></li><li class="social-link"><a href="http://youtube.com/nodevember" target="default"><i class="icon social_youtube icon-large"></i></a></li>

              </ul>
              <div class="sidebar-menu-toggle"><i class="icon icon_menu"></i></div>
              <div class="mobile-menu-toggle"><i class="icon icon_menu"></i></div>

            </div>
          </div>
        </div>

        <div class="bottom-border"></div>

        <div class="sidebar-menu">
          <!-- <img alt="Logo" class="logo" src="img/logo.png"> -->
          <div class="bottom-border"></div>
          <div class="sidebar-content">

            <div class="widget">
              <ul class="menu">
                <li><a class="inner-link" href="index.html#top">About</a></li>
                <!-- <li><a class="inner-link" href="conduct.html">Conduct</a></li>
                <li><a class="inner-link" href="index.html#cfp">Call for Speakers</a></li>
                <li><a class="inner-link" href="index.html#sponsor">Sponsor</a></li> -->
                <li><a class="inner-link" href="index.html#about">Contact</a></li>
                <!-- <li><a class="inner-link" href="https://www.eventbrite.com/e/nodevember-2016-tickets-26149837869">Get Tickets </a></li> -->
              </ul>
            </div>

            <div class="widget">
              <ul class="social-profiles">
                <li><a href="http://twitter.com/nodevember" target="default"><i class="icon social_twitter"></i></a></li>
                <li><a href="http://facebook.com/nodevember" target="default"><i class="icon social_facebook"></i></a></li>
                <li><a href="http://youtube.com/nodevember" target="default"><i class="icon social_youtube icon-large"></i></a></li>
              </ul>
            </div>

            <div class="copy-text">
              <span>&copy; Copyright 2016 GoHuntGeo</span>
            </div>
          </div>
        </div>
      </nav>
  </div>
  <% end %>

<%= yield %>

</body>
</html>
