<!DOCTYPE html>
<html>
<head>
  <title>GoHuntGeo</title>
  <%= favicon_link_tag 'fav.ico' %>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGtIjyVIbRpaN9-0Dc8kn6fQFCOp3THLc&callback=initMap"
   type="text/javascript"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,300' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if current_user %>
  Signed in as <%= current_user.email %> | <%= link_to "Logout", '/log_out' %>
<% else %>
<% end %>

<%= yield %>

</body>
</html>
